<app-welcome />

<form [formGroup]="formCheckbox">

  <!-- CARD SEO -->
  <div class="modal-cards shadow mt-4">
    <div class="modal-cards-text d-flex flex-column">
      <p class="modal-cards-title fw-bold fs-4">SEO</p>
      <p class="modal-cards-description">Posiciona tu web</p>
    </div>
    <div class="modal-cards-price fw-bold fs-3 d-flex justify-content-center">
      <p>300€</p>
    </div>
    <div class="modal-cards-checkbox d-flex justify-content-center gap-3">
      <input class="form-check-input" type="checkbox" id="checkbox1" formControlName="accept1">
      <label class="form-check-label" for="checkbox1">Añadir</label>
    </div>
  </div>

  <!-- CARD ADS -->
  <div class="modal-cards shadow mt-4">
    <div class="modal-cards-text d-flex flex-column">
      <p class="modal-cards-title fw-bold fs-4">ADS</p>
      <p class="modal-cards-description">Promociona tu web</p>
    </div>
    <div class="modal-cards-price fw-bold fs-3">
      <p>400€</p>
    </div>
    <div class="modal-cards-checkbox d-flex gap-3">
      <input class="form-check-input" type="checkbox" id="checkbox2" formControlName="accept2">
      <label class="form-check-label" for="checkbox2">Añadir</label>
    </div>
  </div>

  <!-- CARD WEB -->
  <div class="modal-card-panel shadow mt-4">
    <div class="modal-card-panel-show d-flex">
      <div class="modal-cards-text d-flex flex-column">
        <p class="modal-cards-title fw-bold fs-4">WEB</p>
        <p class="modal-cards-description">Diseña tu web</p>
      </div>
      <div class="modal-cards-price fw-bold fs-3">
        <p>500€</p>
      </div>
      <div class="modal-cards-checkbox d-flex gap-3">
        <input class="form-check-input" type="checkbox" id="checkbox3" formControlName="accept3">
        <label class="form-check-label" for="checkbox3">Añadir</label>
      </div>
    </div>

    @if(formCheckbox.get('accept3')?.value){
    <div class="panel-box">
      <app-panel (pagesPrice)="updateTotalPrice($event)" />
    </div>
    }

  </div>

  <div class="container-totalPrice mt-4">
    <p class="total-price fs-4 d-flex"><b class="total-price-text">Presupuesto total: </b> <b
        class="total-price-result">{{totalPrice}}€</b></p>
  </div>



  <!-- Generador de presupuestos -->
  <div class="container d-flex flex-column shadow p-3">
    <div>
      <h6 class="fw-bold">Solicitar presupuesto</h6>
    </div>

    <div class="container d-flex gap-3">
      <div class="mb-3">
        <input type="name" class="form-control" id="nameForm" placeholder="Nombre">
        <!-- <div id="emailHelp" class="form-text">We'll never share your name with anyone else.</div> -->
      </div>

      <div class="mb-3">
        <input type="number" class="form-control" id="phoneForm" placeholder="Teléfono">
        <!-- <div id="emailHelp" class="form-text">We'll never share your number with anyone else.</div> -->
      </div>

      <div class="mb-3">
        <input type="email" class="form-control" id="emailForm" placeholder="Email">
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>

      <button type="submit" class="btn btn-primary">Solicitar presupuesto</button>
    </div>
  </div>

</form>
